html 
    
    head
        title File Uploads
    
    body
        
        form(role="form", action="/upload", method="post", enctype="multipart/form-data")
            div(class="form-group")
            label(for="doLabelsMatter") Upload File        
            br 
            br
            input(type="file", name="upl", id="uploadFile")
            input(type="submit", value="upload", name="submit")