html
  head
    title File Meta Application 
    
  body
    div(class="container")
        h1 File Meta Application
        blockquote <b>How it works:</b>
            ul Select a file and then upload it. The app will tell you how large the file is in bytes.
        
        h3 Example usage:
        code 1. Go to: https://filemeta-pkh1162.herokuapp.com/upload
        
        
        h3 Example output
        code 1. The file: brain1.jpg is : 100817 bytes.     
        
        
        
        
    
    